@model Web.Models.TransaccionViewModel

@{ ViewData["Title"] = "Crear"; }

<h1>Transaccion</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Id</label>
                <input asp-for="Id" class="form-control" readonly="readonly" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteOrigen" class="control-label"></label>
                <input asp-for="ClienteOrigen" class="form-control" />
                <span asp-validation-for="ClienteOrigen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteDestino" class="control-label"></label>
                <input asp-for="ClienteDestino" class="form-control" />
                <span asp-validation-for="ClienteDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetodoPagoId" class="control-label"></label>
                <input asp-for="MetodoPagoId" class="form-control" />
                <span asp-validation-for="MetodoPagoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalle" class="control-label"></label>
                <input asp-for="Detalle" class="form-control" />
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Lista">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
